@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  background: mintcream;
}

@media (min-width: 768px) {
  .overflow-x-auto {
    overflow-x: auto;
  }
}

/* Table fixed layout adjustments */
.table-fixed {
  table-layout: fixed;
  width: 100%;
}

/* Table cell and header padding */
.table-fixed th,
.table-fixed td {
  padding: 8px;
  text-align: center;
}

/* Adjust column widths if necessary */
.table-fixed th {
  min-width: 100px;
  white-space: nowrap;
}

/* Wrap text inside cells and headers for small displays */
@media (max-width: 767px) {
  .table-fixed th,
  .table-fixed td {
    white-space: normal; /* Allow wrapping */
    word-wrap: break-word; /* Break long words */
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rows-per-page {
  position: relative;
  display: inline-block;
}

.rows-per-page-button {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 0.3rem 0.5rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rows-per-page-icon {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s ease;
}

.rows-per-page-icon.rotate {
  transform: rotate(180deg);
}

.rows-per-page-dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  z-index: 10;
}

.rows-per-page-option {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.rows-per-page-option:hover {
  background-color: #f3f4f6;
}

.rows-per-page-option.disabled {
  color: #ccc;
  cursor: not-allowed;
}
